/* Build for mobile first then scale with @media*/
/* Height of welcome section should be height of the viewport */

html, body {
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    grid-template-rows: 12vh 100vh auto 50vh;
    text-align: center;
}

#navbar {
    position: fixed;
    background-color: lightsteelblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 12vh;
    width: 100%;
}

#navbar a {
    font-size: 24px;
    margin: 5px;
    text-decoration: none;
}

#navbar a:hover {
/* Add effect */
}

#welcome-section {
    grid-row-start: 2;
    background-color: lightseagreen;
}

#welcome-header {
    background-color: #20b2bb;
}

#projects {
    grid-row-start: 3;
    background-color: lightcyan;
}

#profile{
    grid-row-start: 4;
    background-color: lightcoral;
}

#profile a {
    display: block;
    margin-top: 15vh;
    display: inline-block;
    height: 50px;
}

#profile a img {
    max-height: 100%;
}

@media all and (min-width: 500px) {
    #container {
        grid-template-rows: 8vh 100vh auto 50vh;
    }

    #navbar {
        background-color: lightseagreen;
        flex-direction: row;
        justify-content: flex-end;
        height: 8vh;
    }

    #navbar a {
        font-size: 28px;
        margin: 10px;
    }
}