html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: pink;
}

#container {
    display: grid;
    grid-template-columns: 20vw auto;
}

#navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: pink;
    height: 100%;
    width: 20vw;
    border-right: 2px solid darkgray;
}

#main-doc {
    grid-column-start: 2;
    padding-left: 10px;
}

@media all and (max-width: 600px) {
    #container {
        grid-template-columns: 1fr;
        grid-template-rows: 27vw auto;
    }

    #navbar {
        width: 100%;
        height: 27vw;
        border-left: none;
        border-bottom: 2px solid darkgray;
    }
    #main-doc {
        grid-row-start: 2;
        padding-left: none;
        padding-top: 10px;
    }
}